@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

.body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px;
  background-color: #fff;
}

img {
  width: 100%;
}

#logo {
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

a {
  text-decoration: none;
}

.menu-icon {
  width: 24px;
  height: 24px;
}

.btn {
  border: none;
  background-color: #fff;
}

.main-section {
  background-image: url(/Images/mobile-background-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  width: 100%;
}

.list-items {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  gap: 15px;
}

.section-container {
  padding: 100px 24px 0 24px;
  display: flex;
  flex-direction: column;
}

.heading-1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-top: 0;
  margin-bottom: 12px;
  color: #172b4d;
}

.paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  margin-top: 0;
  margin-bottom: 12px;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 0;
  margin-bottom: 12px;
}
