*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  font-size: 1.2rem;
  font-weight: 700;
}

.header-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 40px;
  background-color: #fff;
  border-bottom-left-radius: 80px;
  background-image: url(./images/header-img.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top 80px right 0;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.logo {
  width: 7.6rem;
  height: 2rem;
  color: #6070ff;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;
}

ul {
  display: flex;
  gap: 3rem;
  list-style: none;
}

li {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

.bio {
  margin: 20rem auto;
}

.heading {
  width: 70rem;
  height: 12.2rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 6rem;
  color: #344563;
}

.paragraph {
  width: 79rem;
  height: 9.8rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 2.8rem;
  color: #344563;
}

.heading-3 {
  text-transform: uppercase;
  color: #7f8cff;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.icons {
  display: flex;
  align-items: center;
}

.social-icons {
  margin-left: 1.8rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  transition: all 0.2s ease-in-out;
}

.social-icons:hover {
  transform: scale(1.1);
}

@media only screen and(min-width: 32.31em) {
  .paragraph {
    width: 60rem;
    height: 4.8rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 1.1rem;
    line-height: 2rem;
  }
}
