*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  letter-spacing: 1.2;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #e5e5e562;
  font-size: 1.2rem;
  font-weight: 700;
}

 .header-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
  border-bottom-left-radius: 80px;
  background-image: url(./images/mobile-background-img.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top 8rem right 0;
}

 nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
}

.logo {
  width: 7.6rem;
  height: 2rem;
  color: #6070ff;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;
  text-decoration: none;
}

ul {
  display: flex;
  gap: 3rem;
  list-style: none;
}

#list-items {
  display: none;
}

li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  text-decoration: none;
}

.bio {
  margin: 20rem auto;
  padding-bottom: 10px;
}

.heading {
  max-width: 80vw;
  max-height: 70vh;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #172b4d;
  margin: 0 10px;
}

.paragraph {
  max-width: 100vw;
  max-height: 60vh;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 2.8rem;
  color: #344563;
  margin: 0 10px;
}

.heading-3 {
  max-width: 100vw;
  max-height: 100vh;
  text-transform: uppercase;
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0 10px;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: 1.4rem;
}

.social-icons {
  margin-top: 20px;
  margin-bottom: 17px;
  transition: all 0.2s ease-in-out;
}

.social-icons:hover {
  transform: scale(1.1);
}

 .card-container {
  display: grid;
  flex-direction: column;
  gap: 40px;
}

.work-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  gap: 10px;
  padding: 2rem 1rem;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.cards {
  display: block;
  width: 295px;
  height: 220px;
  border-radius: 8px;
}

.heading-2 {
  max-width: 100vw;
  max-height: 100vh;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.specify {
  display: flex;
  gap: 10px;
}

.dot {
  width: 1rem;
  height: 1rem;
}

.card-text-1 {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.card-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  max-width: 80vw;
  max-height: 80vh;
}

.lang {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f9;
  display: flex;
  gap: 2rem;
  color: #6070ff;
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
}

.btn {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid rgba(0, 0, 255, 0.7);
  border-radius: 8px;
  color: #6070ff;
  background-color: #fff;
  padding: 7px 1px;
  margin: 1rem 0;
  width: 120px;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #6070ff;
  color: white;
  cursor: pointer;
}

.about {
  background-color: #fff;
  border-top-right-radius: 80px;
  margin-top: 50px;
  padding: 40px 10px;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  max-width: 40vw;
  max-height: 40vh;
  margin-left: 10px;
}

.paragraph1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 100vw;
  max-height: 60vh;
  color: #344563;
  margin: 0 10px;
}

.btn-resume {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 9px 2px;
  width: 150px;
  margin: 0 10px;
  background-color: #fff;
  color: #6070ff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 255, 0.7);
}

.btn-resume:hover {
  background-color: #2230d2;
  color: white;
  cursor: pointer;
}

.btn-resume:active {
  background: #6070ff;
  color: #fff;
}

.btn:active {
  background: #2230d2;
  color: #fff;
}

.arrows {
  margin-top: 50px;
}

#languages {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

#heading-2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.fa {
  font-size: 20px;
  color: #acb7c3;
  margin-right: 80px;
}

.language {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.languages-content {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  background-color: #f7f7f9;
  border-radius: 8px;
  width: 303px;
  height: 66.72px;
}

#arrow-box,
#arrow-top {
  display: flex;
  justify-content: space-between;
}

 hr {
  color: rgba(128, 128, 128, 0.1);
  max-width: 95%;
  margin-top: 20px;
}

.form {
  background-image: url(./images/contact-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

.about-me {
  padding: 70px 0;
  margin-left: 45px;
  margin-top: 40px;
}

.heading1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-left: 20px;
}

.para-1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  padding-top: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 10px auto;
}

 .input {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 12px 20px;
  width: 327px;
}

.text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #172b4d;
}

textarea {
  font-family: 'Poppins', sans-serif;
  width: 327px;
  padding: 12px 10px;
  border: 1px solid #cfd8dc;
  background: #fff;
  border-radius: 5px;
}

#message {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #b3bac5;
}

.form-btn {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid rgba(0, 0, 255, 0.7);
  width: 142px;
  color: #6070ff;

  /* margin-left: 22px; */
  margin-top: 8px;
  border-radius: 8px;
  padding: 12px 1px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.form-btn:hover {
  background-color: #6070ff;
  color: white;
  border: 1px solid #fff;
}

@media only screen and (min-width: 768px) {
 

  #union {
    display: none;
  }

  #list-items {
    display: flex;
    gap: 3rem;
    list-style: none;
  }

  nav {
    
  }

  .header-section {
    display: flex;
    flex-direction: column;
    background-image: url(./images/desktop-background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .bio {
    margin: 287px  260px;
    padding: 0;
  }
  
}
 