@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

.body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px;
  background-color: #fff;
}

img {
  width: 100%;
}

#logo {
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

a {
  text-decoration: none;
}

.menu-icon {
  width: 24px;
  height: 24px;
}

.main-section {
  background-image: url(./images/mobile-background-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  width: 100%;
}

.list-items {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  gap: 15px;
}

.section-container {
  padding: 100px 24px 0 24px;
  display: flex;
  flex-direction: column;
}

.heading-1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-top: 0;
  margin-bottom: 12px;
  color: #172b4d;
}

.paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  margin-top: 0;
  margin-bottom: 12px;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 0;
  margin-bottom: 12px;
}

.works {
  display: grid;
  grid-template-columns: auto;
  row-gap: 100px;
  margin-top: 42px;
  margin-bottom: 114px;
}

.snap-card {
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  min-height: 90%;
  padding: 16px;
  margin: 0 24px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.content-area {
  display: flex;
  flex-direction: column;
}

#title {
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  color: #172b4d;
  margin: 15px 0;
}

.description {
  align-items: center;
  color: #344563;
}

.name p {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  text-transform: uppercase;
}

.dot {
  width: 8px;
  height: 8px;
}

.specifity p {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.info {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  gap: 15px;
}

.year p {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.details {
  width: 90%;
  margin: 10px 0;
}

.details p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 0;
}

.languages {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 12px;
  list-style: none;
  padding: 0;
}

#lang {
  background: #ebebff;
  flex: none;
  border-radius: 8px;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.project-btn {
  margin: 30px 0 28px 0;
}

.btn {
  border: 1px solid #6070ff;
  border-radius: 8px;
  height: 48px;
  outline: none;
  background-color: white;
  color: #396df2;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  padding: 12px;
}

.btn a {
  color: #396df2;
  cursor: pointer;
  font-weight: 700;
  font-size: 17px;
}

.bio {
  min-height: 100vh;
  background-color: #fff;
  border-top-right-radius: 100px;
}

.primary-info {
  display: flex;
  flex-direction: column;
  padding: 12px 24px 0 24px;
}

.skills {
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
  margin-bottom: 12px;
}

.drop {
  width: 14px;
}

.langTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.langList {
  list-style: none;
  padding: 0;
}

.langImg {
  width: 48px;
  height: 48px;
}

.lang {
  background: #f7f7f9;
  display: flex;
  padding: 12px 9px;
  align-items: center;
  gap: 20px;
  margin-bottom: 12px;
}

h4 {
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.skill-list {
  padding: 0;
}

.arrow-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-angle-down {
  color: #acb7c3;
  font-size: 1.2rem;
}

.fa-angle-right {
  color: #acb7c3;
  font-size: 1.2rem;
}

.footer {
  background: url(./images/contactformbackgroundshapes@2x.png), #6070ff;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-top-left-radius: 5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.paragraph-1 {
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  width: 327px;
  height: 102px;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 50px 16px;
}

.u-name {
  background: #fff;
  height: 48px;
  margin: 0 16px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 0 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 21px;
  color: #172b4d;
  width: 80%;
}

.u-email {
  background: #fff;
  height: 48px;
  margin: 0 16px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 0 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 21px;
  color: #172b4d;
  width: 80%;
}

textarea {
  width: 80%;
  height: 112px;
  padding: 0 24px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin: 0 16px;
  font-family: "Poppins", serif;
  outline: none;
}

.li-item {
  justify-self: flex-start;
  align-self: flex-start;
  margin-left: 16px;
}
