*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  letter-spacing: 1.2;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
}

.header-section {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  max-width: 100vw;
  padding-bottom: 4rem;
  background-color: #fff;
  border-bottom-left-radius: 12rem;
  background-image: url(./images/mobile-background-img.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: top 8rem right 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
}

.logo {
  width: 7.6rem;
  height: 2rem;
  color: #6070ff;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;
  text-decoration: none;
}

ul {
  display: flex;
  gap: 3rem;
  list-style: none;
}

#list-items {
display: none;
}

li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  text-decoration: none;
}

.bio {
  margin: 20rem auto;
  padding-bottom: 80px;
}

.heading {
  max-width: 80vw;
  max-height: 70vh;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #172B4D;
  margin: 0 10px;
}

.paragraph {
  max-width: 100vw;
  max-height: 60vh;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 2.8rem;
  color: #344563;
  margin: 0 1rem;
}

.heading-3 {
  max-width: 100vw;
  max-height: 100vh;
  text-transform: uppercase;
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0 10px;
}

.icons {
  display: flex;
  align-items: center;
}

.social-icons {
  margin-left: 18px;
  margin-top: 20px;
  margin-bottom: 17px;
  transition: all 0.2s ease-in-out;
}

.social-icons:hover {
  transform: scale(1.1);
}
